@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: hsl(325, 92%, 47%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(128, 69%, 40%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(325, 92%, 47%);
    --radius: 0.5rem;
}

.dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(0 0% 98%);
    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(0 0% 98%);
    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(0 0% 98%);
    --primary: hsl(325, 92%, 47%);
    --primary-foreground: hsl(0 0% 98%);
    --secondary: hsl(128, 69%, 40%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(325, 92%, 47%);
}